<!DOCTYPE html>
<html>
<head>
<title>Curriculum Vitae</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css"> -->
<link rel="stylesheet" href="{{ '/assets/css/w3.css' | relative_url }}">  
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
<link rel="stylesheet" href="{{ '/assets/css/font-awesome.min.css' | relative_url }}">  
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
</head>
<body class="w3-light-grey">
<div class="w3-container w3-margin-top">
  <a href="{{ '/' | relative_url }}" class="w3-button w3-teal w3-round-large w3-margin-bottom">
    <i class="fa fa-arrow-left w3-margin-right"></i>back to homepage
  </a>
  
  {{ content }}
</div>
  {{ content }}
<a href="{{ '/' | relative_url }}" 
   class="w3-button w3-teal w3-round-large w3-card-4" 
   style="position: fixed; top: 20px; left: 20px; z-index: 9999;">
  <i class="fa fa-arrow-left w3-margin-right"></i>back to homepage
</a>
</body>
</html>
