<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }} | {{ site.name }}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Pustaka CSS khusus W3.CSS untuk Portofolio -->
  <link rel="stylesheet" href="https://w3schools.com">
  <link rel="stylesheet" href="https://googleapis.com">
  <link rel="stylesheet" href="https://cloudflare.com">
  <style>
    body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
  </style>
</head>
<body class="w3-black"> <!-- Menggunakan kelas w3-black jika memilih Dark Theme -->

  <!-- Konten dari file portofolio.md akan otomatis masuk ke sini -->
  {{ content }}

</body>
</html>
